<div class="p-4 sm:p-6 lg:p-8">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-3xl font-semibold text-gray-900">Listing Trips</h1>
        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <%= link_to "New trip", new_trip_path, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" %>
        </div>
    </div>

    <div class="mt-8 flow-root">
        <div class="align-middle inline-block min-w-full border-b border-gray-200 shadow overflow-hidden sm:rounded-lg">
            
            <table class="min-w-full divide-y divide-gray-300">
                <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Destination</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Start Date</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">End Date</th>
                        <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6" colspan="2">
                            <span class="sr-only">Actions</span>
                        </th>
                    </tr>
                </thead>
                
                <tbody class="divide-y divide-gray-200 bg-white">
                    <% @trips.each do |trip| %>
                    <tr class="<%= cycle('bg-white', 'bg-gray-50') %> hover:bg-gray-100">
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= trip.city %></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= trip.start_date %></td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= trip.end_date %></td>
                        
                        <td class="relative whitespace-nowrap py-4 pl-3 pr-3 text-right text-sm font-medium sm:pr-6">
                            <%= link_to "Show", trip, class: "text-indigo-600 hover:text-indigo-900" %>
                        </td>
                        
                        <td class="relative whitespace-nowrap py-4 pr-4 text-left text-sm font-medium sm:pr-6">
                            <%= link_to "Destroy", trip, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "text-red-600 hover:text-red-900 ml-2" %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>